html {
    font-family: Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

nav {
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

nav a {
    color: black;
    font-size: 14px;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

#main-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 40px;
}

#searchbox-div {
    display: flex;
    align-items: center;
    text-indent: 15px;
    padding: 10px;
    margin: 15px;
    width: 450px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 25px;
}

#searchbox-image {
    opacity: 75%;
    height: 16px;
    width: 16px;
    margin: 5px;
}

#searchbox-input {
    font-size: 16px;
    border: none;
    width: 410px;
    outline: none;
    background-color: transparent;
}